
.btn{
    display: inline-block;
    text-decoration: none;
    background: #ffba78;
    color: #ffff78;
    width: 120px;
    height: 120px;
    font-size: 15px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #d29963;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.43), 1px 1px rgba(0, 0, 0, 0.49);
    transition: .4s;
    margin-left:30px;
}
.btn:active{
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
    border-bottom: none;
}

body{
	background-color:#f7f3e8;
}

.login_form{

	width:50%;
	text-align:left;
	font-size:20px;
	margin:20px 30px;
    background-color:white;
    border:solid 1px black;

}
.login_form h2{
	margin:20px 20px;

}

.login_input{
	margin:0px 30px;
	width:200px;
	height:20px;
}

.login_submit{
	margin:0px 20px;
	margin-bottom:20px;
}
.recipes_menu{
    margin:30px 0px;;
}

.recipes_menu table{
	width:800px;
	text-align:left;
	margin:30px;
}

td{
    border:solid 3px black;
    padding: 10px;
}


.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.meat_materials{
	float:left;
	width:25%;
	background-color:#ffd5ec;
	padding:15px 0px;

}
.fish_materials{
	float:left;
	width:25%;
	padding:15px 0px;
	background-color:#c2eeff;
}
.vegetable_materials{
	float:left;
	width:25%;
	padding:15px 0px;
	background-color:#cbffd3;
}
.condiment_materials{
	float:right;
	width:25%;
	padding:15px 0px;
	background-color:#ffffdd;
}
.shadow_effect{
-webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

/* topPage */
.recomend_wrapper{
	float:left;
}

.box_wrapper{
	float:left;
	margin-left:60px;
}